node_modules
.env
.env.local

# Hardhat
cache
artifacts
typechain
typechain-types
coverage
coverage.json

# Next.js
frontend/.next
frontend/out
frontend/node_modules

# OS / Editor
.DS_Store
.vscode
.idea
*.log
